services:
  postgres:
    image: 'postgres:16'
    container_name: barberia-postgres
    environment:
      POSTGRES_DB: barberia_db
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: secret
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d barberia_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
